doctype
html
  head
    title #{title} - OnTheWay
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    header
      h1 On The Way
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade, and Stylus